.rouletteBar {
  overflow: hidden;
}

.roulettePointer {
  position: absolute;
  top: 0%;
  left: 50%;
  height: 100%;
  border-left: 0.15em solid yellow;
  z-index: 1;
}

.tileContainer {
  display: flex;
  overflow: visible;
  white-space: nowrap;
  position: relative;
  height: 5em;
  width: 100%;
}

.tileContainer > div {
  float: left;
  width: 5em;
  min-width: 5em;
  height: 5em;
  text-align: left;
  color: white;
  top: 0px;
}

.tileContainer > div > p {
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 0.2em;
}
